<!DOCTYPE html>
<html>
  <body>
    <ion-view title="Dashboard">
      <ion-content class="padding">
        <h5 ng-show="!rootuser.firstname">Login to see your dashboard</h5>
        <div ng-show="rootuser.firstname" class="list"><a href="#" class="item item-thumbnail-left"><img ng-src="{{rootuser.avatar}}">
            <h3>Welcome {{rootuser.firstname}} {{rootuser.lastname}}</h3></a>
          <h4>Name: {{rootuser.firstname}} {{rootuser.lastname}}</h4>
          <h4>Email: {{rootuser.email}}</h4>
          <h4>Institution ID: {{rootuser.institutionid}}</h4>
          <h4>Status: {{institutionStatus}}</h4>
          <button ng-click="logout(user)" class="button button-assertive loginButton">Logout</button>
        </div>
      </ion-content>
    </ion-view>
  </body>
</html>