<!DOCTYPE html>
<html>
  <body>
    <ion-tabs class="tabs-icon-top">
      <ion-tab title="Dashboard" icon="icon ion-home" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Courses" icon="icon ion-document-text" href="#/tab/courses">
        <ion-nav-view name="tab-courses"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Account" icon="icon ion-person" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </body>
</html>