html
  body
    ion-view(title='{{course.courseTitle}}')
      ion-content(has-header='true', padding='true')
        h3 Instructor: {{course.instructorFirstName}} {{course.instructorLastName}}
        h3 Semester: {{course.semester}}
        
        h3 Lessons:
        ion-item(ng-show='rootuser.institutionid', ng-repeat='lesson in lessons', type='item-text-wrap', href='#/tab/course/lesson/{{lesson.lessonId}}')
          | {{lesson.lessonTitle}}
