html
  body
    ion-view(title='{{lesson.lessonTitle}}')
      ion-content(has-header='true', padding='true')
        h3 Quizzes:
        ion-item(ng-show='rootuser.institutionid', ng-repeat='quiz in quizzes', type='item-text-wrap', href='#/tab/courses/{{courseId}}/lessons/{{lesson.lessonId}}/quizzes/{{quiz.quizId}}')
          | {{quiz.quizTitle}}
